
header {
  background-color:#4361ee;
   /*rgb(211, 58, 211);*/
  
  }
  .heading{
  background-color: rgb(39, 33, 218); 
  display:inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif 200;
  color: rgb(240, 240, 231);
  padding: 10px 30px 10px 30px;
  letter-spacing: 10px;
  margin:10px 10px 10px 10px;
  align-self: center;
  font-size: 3.7em;
  }

  
.nav-links {
  background-color: linen;
  /*display: inline-block;*/
  float:right;
  align-self: baseline;
  margin:10px 50px 10px 10px;
  font-size: 120%;
}



body{
  font-family: sans-serif;
}

form{
background-color: skyblue;

padding: 1%;
}

.box{
  padding:2%;
  background-color: grey;
}
.h1{
  background-color: rgb(34, 159, 34);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:greenyellow;
}


.container{
 
  /*flex-wrap: wrap;*/
  background-color:slateblue;
  padding:0% 0% 5% 0%
}

/*.container *{
  border:1px solid red!important;
}*/
  
.user{
 /* flex-basis: 50%;*/
  position: relative;
  height:100%;
}
.image{
  width: 100%;
  height: 300px;
  flex:1;
 /* min-width:300px;*/ 
  
}
.user p{
  margin-bottom: 1em;
 }

.p{
  padding:3%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

 /* background-color: ;*/
}
.image-bio-container{
  display: flex;
 /* background-color: ;*/
  /*background-color: rgb(8, 135, 142);
}
.image-bio-container img{
  width: 300px; */
  flex: 1.6;
  height: auto;
}
.image-bio-container p{
  display: inline-block;
  flex: 2.8;
  font-size: 1.8em;
}
.bio-buttons{
  background-color: skyblue;
  flex:2;
}

.wag, .save{
  padding: 12px 20px;
  font-size: 1.3em;
  margin-left:.5em;
}
.wag{
 /* background-color: #71e071;*/
}
.save{
  background-color:#a0c4ff;
}
@media only screen and (max-width: 700px){
  .row {flex-direction: column;

  }
  .image-bio-container{
    flex-direction: column;
  }

  .nav-links{
    float:none;
  }
}